<div class="mt-4">
    <h3>Tạo khóa học mới</h3>
    <form method="post" action="/course/store">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="thumail">Link thumail</label>
            <input type="text" class="form-control" id="thumail" name="thumail">
        </div>
        <div class="form-group">
            <label for="level">Trình độ</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        <div class="form-group">
            <label for="videoID">Link video</label>
            <input type="text" class="form-control" id="videoID" name="videoID">
        </div>

        
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>