
   
    <div> 
      <div class="container mx-auto sm:px-0 px-[16px]">
        <div class="mt-[50px] font-bold">Tổng quan về trường Đại học Bách khoa - Đại học quốc gia TPHCM </div>
        <div class="text-center my-[10px] text-[#003459] font-[700]">LỊCH SỬ HÌNH THÀNH</div>
        <div class="mb-[30px]">Trường Đại học Bách khoa - ĐHQG-HCM  là một trường thành viên của hệ thống Đại học Quốc gia TP. Hồ Chí Minh. Trường được thành lập vào năm 1957 với tiền thân là Trung tâm Quốc gia Kỹ thuật. Hiện nay, Trường ĐH Bách Khoa là trung tâm đào tạo, nghiên cứu khoa học và chuyển giao công nghệ lớn nhất các tỉnh phía Nam và là trường đại học kỹ thuật quan trọng của cả nước.</div>
        <div class="text-center mb-[100px]"><img class="w-full" src="https://project-ltnc.vercel.app/assets/img/index-one.jpg" alt=""/>
          <div class="mt-[10px]">Thư viện trường Đại học Bách khoa - Đại học quốc gia TPHCM</div>
        </div>
        <div class="mb-[5px]"><b>Các mốc thời gian quan trọng</b></div>
        <div class="mb-[5px]"><b>1957:</b> Trung tâm Quốc gia Kỹ thuật được thành lập theo Sắc lệnh 213-GD ngày 29/06/1957, gồm 4 trường kỹ thuật, công nghệ và chuyên nghiệp: Trường Cao Đẳng Công Chánh, Trường Vô tuyến Điện, Trường Hàng Hải Thương Thuyền và Trường Thương Mại.</div>
        <div class="mb-[5px]"><b>1972:</b> Trung tâm Quốc gia Kỹ thuật được đổi tên thành Học viện Quốc gia Kỹ thuật theo Sắc lệnh 135SL/GD ngày 15/9/1972, gồm 6 trường thành viên.</div>
        <div class="mb-[5px]"><b>1973:</b> Học viện Quốc gia Kỹ thuật bị giải tán, trường được đổi tên Trường Đại học Kỹ thuật và là thành viên của Viện Đại học Bách khoa Thủ Đức.</div>
        <div class="mb-[5px]"><b>1976:</b> Trường được mang tên Trường Đại học Bách khoa theo Quyết định số 426/TTg ngày 27/10/1976.</div>
        <div class="mb-[5px]"><b>1996:</b> Trường được mang tên Trường Đại học Kỹ thuật trực thuộc Đại học Quốc gia TP. Hồ Chí Minh theo Quyết định số 1235/GD-ĐT ngày 30/3/1996.</div>
        <div class="mb-[50px]"><b>2001:</b> Trường được mang tên Trường Đại học Bách khoa theo Quyết định số 15/2001/QĐ-TTg của Thủ tướng Chính phủ về việc tổ chức lại Đại học Quốc gia thành phố Hồ Chí Minh.</div>
        <div class="text-center my-[10px] text-[#003459] font-[700]">TẦM NHÌN – SỨ MẠNG</div>
        <div><b>Tầm nhìn:</b>
          <div class="my-[5px]">Được công nhận toàn cầu là Trường Đại học hàng đầu trong khu vực về giảng dạy, học tập, nghiên cứu và khởi nghiệp – đổi mới sáng tạo.</div>
        </div>
        <div><b>Sứ mạng:</b>
          <div class="my-[5px]">Đào tạo nguồn nhân lực chất lượng quốc tế;</div>
          <div>Đào tạo nguồn nhân lực chất lượng quốc tế;</div>
          <div class="my-[5px]">Thực hiện trách nhiệm xã hội và phục vụ cộng đồng. </div>
        </div>
        <div><b>Hệ thống các giá trị cơ bản</b>
          <div class="my-[5px]">Trường Đại học Bách Khoa - ĐHQG-HCM hướng tới các giá trị cơ bản để đáp ứng sứ mạng của nhà trường:
            <ol class="list-disc">
              <li class="my-[5px]">Năng lực và tâm huyết của đội ngũ quản lý, giảng viên và sinh viên;</li>
              <li>Phẩm chất, tư duy và kỹ năng của sinh viên;</li>
              <li class="my-[5px]">Tinh thần tiên phong, khởi nghiệp, đổi mới, sáng tạo và hội nhập quốc tế trong đào tạo, nghiên cứu khoa học;</li>
              <li>Truyền thống, văn hóa, chất lượng và kiểm định quốc tế;</li>
              <li class="my-[5px]">Kết nối giữa nhà trường, cộng đồng và doanh nghiệp.</li>
            </ol>
          </div>
        </div>
        <div class="text-center my-[10px] text-[#003459] font-[700]">DANH HIỆU – KHEN THƯỞNG </div>
        <div>Trải qua 66 năm hình thành và phát triển, Trường ĐH Bách khoa – ĐHQG-HCM đã được Đảng và Nhà nước trao tặng nhiều phần thưởng cao quý như:
          <ol class="list-disc">
            <li class="my-[5px]">Anh hùng Lao động (2005)</li>
            <li>Bằng khen của Thủ tướng Chính phủ (2009)</li>
            <li class="my-[5px]">Huân chương Lao động hạng Nhất (1998, 2017), hạng Nhì (1984), hạng Ba (1981)</li>
            <li>Huân chương Độc lập hạng Nhất (2012) hạng Nhì (2007) hạng Ba (2002)</li>
            <li class="my-[5px]">Huân chương Độc lập Cờ thi đua của Chính phủ (2007, 2015)</li>
            <li class="mb-[50px]">Nhiều bằng khen, cờ thưởng của Chủ tịch nước, Thủ tướng Chính phủ, Trung ương Đoàn Thanh niên Cộng sản Hồ Chí Minh, các Bộ, Ban, Ngành, ĐHQG-HCM và các địa phương.</li>
          </ol>
          <div class="text-center mb-[100px]"><img class="w-full" src="https://project-ltnc.vercel.app/assets/img/index-two.jpg" alt=""/>
            <div class="mt-[10px]">Phó thủ tướng thường trực Chính phủ Trương Hòa Bình trao Huân chương lao động hạng I (lần thứ 2) cho trường vào năm 2017 </div>
          </div>
        </div>
      </div>
    </div>

