<section class="section-2 py-[200px] bg-[#00A7E7]">
    <div class="container">
      <div class="section-2__wrap rounded-[15px] py-[20px]">
        <div class="text-center font-bold text-[30px] text-[#003459]" id="text"></div>
        <form class="section-2__form" action="/login" method="POST">
          <div class="section-2__group">
            <label for="email"><i class="fa-regular fa-envelope"></i></label>
            <input class="form-control" type="email" id="email" name="email" placeholder="Email" autofocus="autofocus"/>
          </div>
          <div class="section-2__group">
            <label for="password"><i class="fa-solid fa-lock-open"></i></label>
            <input class="form-control" type="password" id="password" name="password"/>
          </div>
          <div class="section-2__sub"> 
            <div class="checkbox"> 
              <input type="checkbox" name="remember" id="remember" value="remeber"/>
              <label for="remember">Remember me </label>
            </div><a class="suport" href="#" target="_blank"> Forgot password?</a>
          </div>
          <button class="btn btn-primary" type="submit">Đăng Nhập</button>
        </form>
      </div>
    </div>
  </section>