<footer class="bg-[url('https://project-ltnc.vercel.app/assets/img/sub-header.jpg')] text-white">
    <div class="container mx-auto sm:px-0 px-[16px]">
    <div class="border-b-[2px] flex justify-between items-center pt-[20px] pb-[10px]">
        <div class="flex">
        <div class="w-[52px]"><img src="https://project-ltnc.vercel.app/assets/img/HCMUT.jpg" alt=""/></div>
        <div class="ml-[20px]">
            <div class="mb-[10px]">Đại học quốc gia Thành phố Hồ Chí Minh</div>
            <div>TRƯỜNG ĐẠI HỌC BÁCH KHOA</div>
        </div>
        </div>
        <div>
        <div class="mb-[10px]"> Cơ sở Lý Thường Kiệt: 268 Lý Thường Kiệt, Phường 14, Quận 10, TP. HCM </div>
        <div> Cơ sở Dĩ An: Khu phố Tân Lập, Phường Đông Hòa, TP. Dĩ An, Tỉnh Bình Dương </div>
        </div>
    </div>
    <div class="pt-[10px] pb-[20px] flex justify-between opacity-60 items-center">
        <div>© 2023 Ly Vinh Thai. All rights reserved.</div>
        <div class="flex">
        <div class="mr-[30px]">Điều khoản dịch vụ</div>
        <div>Chính sách bảo mật</div>
        </div>
    </div>
    </div>
</footer>