<header class="bg-black h-[51px] text-[20px]">
  <div class="container mx-auto sm:px-0 px-[16px] flex justify-between items-center h-full">
    <div>
      <div class="flex items-center"><img class="w-[50px] h-auto" src="https://project-ltnc.vercel.app/assets/img/HCMUT.jpg" alt="logo"/></div>
    </div>
    <div>
      <div class="flex text-white"><a class="mr-[20px] hover:text-[gray]" href="/">Trang chủ</a>
        <div class="relative Perent">
          <a class=" mr-[20px] flex hover:text-[gray] relative" href="/login">Đăng nhập</a>
        </div>
        <div class="hover:text-[gray]"><i class="fa-solid fa-magnifying-glass"></i>  </div>
      </div>
    </div>
  </div>
</header>