<div class="header text-[20px]">
            <div>
                <img class="logo" src="https://project-ltnc.vercel.app/assets/img/HCMUT.jpg" alt=""/>
            </div>
            <ul id="nav">
                <li><a href="/{{ID}}">Trang chủ</a></li>
                <li><a href="/me/course/store/{{ID}}">Khóa học</a></li>
                <li><a href="/me/register/{{ID}}">Đăng ký MÔN</a></li>
                <li>
                    <a href="">Tài khoản
                        <i class="nav-arrow-down fa-solid fa-caret-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="">Hồ sơ</a></li>
                        <li><a href="">Lịch</a></li>
                        <li><a href="">Hoạt động</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Khác
                        <i class="nav-arrow-down fa-solid fa-caret-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="">Diễn đàn</a></li>
                        <li><a href="">Lịch</a></li>
                        <li><a href="">Hoạt động</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Search button -->
            </div>
        </div>