<header class="bg-black h-[60px] text-[20px]">
  <div class="container mx-auto sm:px-0 px-[20px] flex justify-between items-center h-full">
    <div>
      <div class="flex items-center">
        <img class="w-[50px] h-auto" src="https://project-ltnc.vercel.app/assets/img/HCMUT.jpg" alt="logo"/>
      </div>
    </div>

    <div>
      <div class="flex text-white">
        <a class="mr-[20px] hover:text-[gray]" href="/{{role}}/{{ID}}">Trang chủ</a>
        <div class="relative Perent">
          <a class=" mr-[20px] flex hover:text-[gray] relative" href="/">Đăng xuất</a>
        </div>
        <div class="hover:text-[gray] flex items-center tick cursor-pointer"><i class="fa-solid fa-bars"></i> </div>
      </div>
    </div>
  </div>
</header>