@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", serif;
  margin: 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  width: 1180px;
  margin: 0 auto;
}
@media (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 991.98px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 767.98px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.button {
  border: 1.5px solid #003459;
  height: 44px;
  color: #003459;
  background: transparent;
  border-radius: 57px;
  padding: 0 28px;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
}
.button i {
  margin-left: 8px;
}
.button--primiry {
  background-color: #003459;
  color: #fff;
}
.button__icon--left {
  margin-right: 12px;
}

.header_one {
  background-color: rgb(236, 236, 243);
  padding: 28px 0;
  position: relative;
  z-index: 0;
  
}
.header_one__wrap {
  display: flex;
  align-items: center;
}
.header_one__logo img {
  width: auto;
  height: 40px;
}
.header_one__menu {
  flex: 1;
}
.header_one__menu ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.header_one__menu ul li {
  margin: 0 24px;
}
.header_one__menu ul li a {
  color: #003459;
  font-weight: 700;
}
.header_one__search {
  margin-right: 14px;
}
.header_one__search form {
  border-radius: 46px;
  background: #f3f3f3;
  width: 280px;
  height: 44px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.header_one__search form button {
  width: 44px;
  height: 44px;
  font-size: 20px;
  font-weight: 400;
  color: #667579;
  background-color: transparent;
  border: 0;
}
.header_one__search form input {
  font-size: 14px;
  border: 0;
  background-color: transparent;
  outline: 0;
  flex: 1;
  padding-right: 10px;
}
.header_one__button-menu {
  display: none;
}
.header_one__button-search {
  display: none;
}
@media (max-width: 1199.98px) {
  .header_one .button {
    display: none;
  }
  .header_one__search {
    margin-right: 0;
  }
}
@media (max-width: 991.98px) {
  .header_one__wrap {
    justify-content: space-between;
  }
  .header_one__menu {
    display: none;
  }
  .header_one__search {
    display: none;
  }
  .header_one__button-menu, .header_one__button-search {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 0;
    font-size: 24px;
  }
}
@media (max-width: 575.98px) {
  .header_one__logo img {
    height: 32px;
  }
}

.footer {
  border-radius: 40px 40px 0px 0px;
  background: linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  padding: 80px 0 40px 0;
}
.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003459;
  border-radius: 16px;
  padding: 32px;
  margin-bottom: 40px;
}
.footer__title {
  width: calc(40% - 20px);
  font-size: 20px;
  font-weight: 700;
  color: #FDFDFD;
  text-transform: capitalize;
}
.footer__form {
  flex: 1;
  border-radius: 14px;
  background: #FFF;
  padding: 12px;
  display: flex;
}
.footer__form input {
  height: 48px;
  border-radius: 8px;
  border: 1px solid #99A2A5;
  padding: 0 28px;
  outline: none;
  flex: 1;
  margin-right: 12px;
}
.footer__form button {
  height: 48px;
  border-radius: 8px;
  background-color: #003459;
  border: 0;
  color: #FDFDFD;
  font-size: 16px;
  font-weight: 500;
  padding: 0 28px;
  cursor: pointer;
}
.footer__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #CCD1D2;
  margin-bottom: 0px;
}
.footer__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.footer__menu li {
  margin-right: 60px;
}
.footer__menu li:last-child {
  margin-right: 0;
}
.footer__menu a {
  font-size: 16px;
  font-weight: 500;
  color: #00171f;
}
.footer__menu a:hover {
  color: #003459;
}
.footer__socials ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.footer__socials li {
  margin-left: 40px;
}
.footer__socials a {
  font-size: 24px;
  color: #00171f;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copyright {
  color: #667479;
  font-size: 14px;
  font-weight: 500;
}
.footer__logo img {
  height: 40px;
  width: auto;
}
.footer__links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.footer__links li {
  margin-left: 32px;
}
.footer__links a {
  font-size: 14px;
  font-weight: 500;
  color: #667479;
}
@media (max-width: 991.98px) {
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 16pz;
  }
  .footer__middle {
    flex-wrap: wrap;
  }
  .footer__menu {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer__menu ul {
    justify-content: center;
  }
  .footer__menu li {
    margin: 0 20px;
  }
  .footer__menu li:first-child {
    margin-left: 0;
  }
  .footer__socials {
    width: 100%;
  }
  .footer__socials ul {
    justify-content: center;
  }
  .footer__socials li {
    margin: 0 20px;
  }
  .footer__bottom {
    flex-wrap: wrap;
  }
  .footer__copyright {
    width: 100%;
    text-align: center;
    font-size: 10px;
    order: 3;
  }
  .footer__logo {
    width: 100%;
    text-align: center;
    order: 1;
    margin-bottom: 32px;
  }
  .footer__links {
    width: 100%;
    order: 2;
    margin-bottom: 12px;
  }
  .footer__links ul {
    justify-content: center;
  }
  .footer__links li {
    margin: 0 7.5px;
  }
  .footer__links a {
    font-size: 12px;
  }
}
@media (max-width: 575.98px) {
  .footer {
    border-radius: 20px 20px 0px 0px;
    padding: 40px 0 16px 0;
  }
  .footer__top {
    padding: 16px;
  }
  .footer__form {
    flex-wrap: wrap;
  }
  .footer__form input {
    width: 100%;
    flex: none;
    margin-bottom: 12px;
  }
  .footer__form button {
    width: 100%;
  }
  .footer__menu ul {
    flex-wrap: wrap;
  }
  .footer__menu a {
    font-size: 13px;
  }
  .footer__socials a {
    font-size: 20px;
  }
  .footer__middle {
    margin-bottom: 36px;
  }
}

/*# sourceMappingURL=style_layouts.css.map */