{{!-- <div class="mt-4">
    <h3>Thêm học sinh</h3>
    <form method="post" action=""> --}}
        {{!-- <div class="form-group">
            <label for="name">Tên</label>
            <input type="text" class="form-control" id="name" name="name">
        </div> --}}
        {{!-- <div class="form-group">
            <label for="id">MSSV</label>
            <input type="text" class="form-control" id="id" name="id">
        </div> --}}
        {{!-- <div class="form-group">
            <label for="bdate">Ngày sinh</label>
            <input type="text" class="form-control" id="bdate" name="bdate">
        </div> --}}
        {{!-- <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email">
        </div> --}}
        {{!-- <div class="form-group">
            <label for="gender">Giới tính</label>
            <input type="text" class="form-control" id="gender" name="gender">
        </div> --}}
        {{!-- <div class="form-group">
            <label for="major">Chuyên ngành</label>
            <input type="text" class="form-control" id="major" name="major">
        </div> --}}
        {{!-- <div class="form-group">
            <label for="address">Quê quán</label>
            <input type="text" class="form-control" id="address" name="address">
        </div> --}}
        {{!-- <div class="form-group">
            <label for="phone_number">Số điện thoại</label>
            <input type="text" class="form-control" id="phone_number" name="phone_number">
        </div> --}}
        {{!-- <div class="form-group">
            <label for="status">Tình trạng</label>
            <input type="text" class="form-control" id="status" name="status">
        </div> --}}
        {{!-- <div class="form-group">
            <label for="typeStudy">Hệ đào tạo</label>
            <input type="text" class="form-control" id="typeStudy" name="typeStudy">
        </div> --}}
         {{!-- <div class="form-group">
            <label for="class">Lớp</label>
            <input type="text" class="form-control" id="class" name="class">
        </div> --}}
         {{!-- <div class="form-group">
            <label for="degree">Chương trình đào tạo </label>
            <input type="text" class="form-control" id="degree" name="degree">
        </div> --}}
{{!--         
        <button type="submit" class="btn btn-primary">Thêm học sinh</button>
    </form>
</div> --}}






<div class="sub-header bg-[url('https://project-ltnc.vercel.app/assets/img/sub-header.jpg')] w-full h-[200px]">
    <div class="sub-header__title text-[50px] flex justify-center items-center h-full text-white">THÊM SINH VIÊN</div>
</div>
<div>
    <div class="container mx-auto sm:px-0 px-[16px] mb-[50px]">
    <form action="" method="post">
        <div class="border-indigo-500/100 border-b-[5px] mt-[20px]">
        <label for="ID">MSSV</label><br/>
        <input class="w-full outline-0 m-[10px] text-[blue]" type="text" name="ID" id="id" placeholder="VD: 2212007"/>
        </div>
        <div class="border-indigo-500/100 border-b-[5px] mt-[20px]">
        <label for="address">Địa chỉ</label><br/>
        <input class="w-full outline-0 m-[10px] text-[blue]" type="text" name="address" id="address" placeholder="VD: Bến Tre"/>
        </div>
        <div class="border-indigo-500/100 border-b-[5px] mt-[20px]">
        <label for="cccd">Căn cước công dân</label><br/>
        <input class="w-full outline-0 m-[10px] text-[blue]" type="text" name="cccd" id="cccd"/>
        </div>
        <div class="border-indigo-500/100 border-b-[5px] mt-[20px]">
        <label for="bdate">Ngày tháng năm sinh</label><br/>
        <input class="w-full outline-0 m-[10px] text-[blue]" type="date" name="bdate" id="bdate"/>
        </div>
        <div class="border-indigo-500/100 border-b-[5px] mt-[20px]">
        <label for="email">Email</label><br/>
        <input class="w-full outline-0 m-[10px] text-[blue]" type="email" name="email" id="email" placeholder="aaaaa@gmail.com"/>
        </div>
        <div class="border-indigo-500/100 border-b-[5px] mt-[20px]">
        <label for="major">Khoa</label><br/>
        <input class="w-full outline-0 m-[10px] text-[blue]" type="text" name="major" id="major"/>
        </div>
        <div class="border-indigo-500/100 border-b-[5px] mt-[20px]">
        <label for="class">Lớp</label><br/>
        <input class="w-full outline-0 m-[10px] text-[blue]" type="text" name="class" id="class"/>
        </div>
        <div class="border-indigo-500/100 border-b-[5px] mt-[20px]">
        <label for="name">Họ và tên</label><br/>
        <input class="w-full outline-0 m-[10px] text-[blue]" type="text" name="name" id="name" placeholder="Lê Văn A"/>
        </div>
        <div class="border-indigo-500/100 border-b-[5px] mt-[20px]">
        <label for="gender">Giới tính</label><br/>
        <input class="w-full outline-0 m-[10px] text-[blue]" type="text" name="gender" id="gender" placeholder="Nam/Nữ"/>
        </div>
        <div class="border-indigo-500/100 border-b-[5px] mt-[20px]">
        <label for="phone_number">Số điện thoại</label><br/>
        <input class="w-full outline-0 m-[10px] text-[blue]" type="tel" name="phone_number" id="phone_number" placeholder="0xxx"/>
        </div>
        <div class="border-indigo-500/100 border-b-[5px] mt-[20px]">
        <label for="status">Tình trạng</label><br/>
        <input class="w-full outline-0 m-[10px] text-[blue]" type="number" name="status" id="status" placeholder="VD: 3 (Sinh viên năm: 3)"/>
        </div>
        <div class="border-indigo-500/100 border-b-[5px] mt-[20px]">
        <label for="typeStudy">Hệ đào tạo</label><br/>
        <input class="w-full outline-0 m-[10px] text-[blue]" type="text" name="typeStudy" id="typeStudy"/>
        </div>
        <div class="border-indigo-500/100 border-b-[5px] mt-[20px]">
        <label for="degree">Chương trình đào tạo</label><br/>
        <input class="w-full outline-0 m-[10px] text-[blue]" type="text" name="degree" id="degree"/>
        </div>
        <div class="text-center">
        <button class="bg-sky-500/75 hover:bg-[blue] py-[10px] px-[20px] rounded-[10px] mt-[30px]">SUBMIT</button>
        </div>
    </form>
    </div>
</div>
