<div class="sub-header bg-[url('/img/sub-header.jpg')] w-full h-[200px]">
  <div class="sub-header__title text-[50px] flex justify-center items-center h-full text-white">TRANG CHỦ</div>
</div>
<section class="section-1"> 
  <div class="container">
    <div class="section-1__wrap"> 
      <div class="section-1__box">
        <div class="section-1__title">ỨNG DỤNG</div>
        <div class="section-1__items"> <a href="/me/courses/{{id}}" class="course"> 
            <div class="section-1__item">
              <div class="section-1__item--left">
                <div class="section-1__img"><img src="/img/home-one.jpg" alt=""/></div>
              </div>
              <div class="section-1__item--right">
                <div class="section-1__item--title">1. KHÓA HỌC</div>
              </div>
            </div></a><a href="/me/info/{{id}}" class="info">  
            <div class="section-1__item">
              <div class="section-1__item--left">
                <div class="section-1__img"><img src="https://mybk.hcmut.edu.vn/my/images/upload/app_stinfo.png" alt=""/></div>
              </div>
              <div class="section-1__item--right">
                <div class="section-1__item--title">2. THÔNG TIN</div>
              </div>
            </div></a><a href="/me/courses/register/{{id}}" class="register"> 
            <div class="section-1__item">
              <div class="section-1__item--left">
                <div class="section-1__img"><img src="/img/home-one.jpg" alt=""/></div>
              </div>
              <div class="section-1__item--right">
                <div class="section-1__item--title">3. ĐĂNG KÍ MÔN HỌC</div>
              </div>
            </div></a><a href="/me/transcript/{{id}}"> 
            <div class="section-1__item">
              <div class="section-1__item--left">
                <div class="section-1__img"><img src="/img/home-three.jpg" alt=""/></div>
              </div>
              <div class="section-1__item--right">
                <div class="section-1__item--title">4. BẢNG ĐIỂM</div>
              </div>
            </div></a><a href="calendar.html"> 
            <div class="section-1__item">
              <div class="section-1__item--left">
                <div class="section-1__img"><img src="https://mybk.hcmut.edu.vn/stinfo/public/uploads/avatars/1477389315-calendar-1.png" alt=""/></div>
              </div>
              <div class="section-1__item--right">
                <div class="section-1__item--title">5. THỜI KHOÁ BIỂU</div>
              </div>
            </div></a></div>
      </div>
    </div>
  </div>
</section>
