<div class="sub-header bg-[url('https://project-ltnc.vercel.app/assets/img/sub-header.jpg')] w-full h-[200px]">
    <div class="sub-header__title text-[50px] flex justify-center items-center h-full text-white">TRANG CHỦ</div>
</div>
<section class="section-1 min-h-[600px]"> 
    <div class="container">
    <div class="section-1__wrap"> 
        <div class="section-1__box">
        {{!-- <div class="section-1__title">ỨNG DỤNG</div> --}}
        <div class="section-1__items"> <a href="/teacher/courses/{{ID}}"> 
            <div class="section-1__item">
                <div class="section-1__item--left">
                <div class="section-1__img"><img src="https://project-ltnc.vercel.app/assets/img/home-two.jpg" alt=""/></div>
                </div>
                <div class="section-1__item--right">
                <div class="section-1__item--title">1. QUẢN LÍ KHÓA HỌC</div>
                </div>
            </div></a><a href="/teacher/info/{{ID}}">  
            <div class="section-1__item">
                <div class="section-1__item--left">
                <div class="section-1__img"><img src="https://mybk.hcmut.edu.vn/my/images/upload/app_stinfo.png" alt=""/></div>
                </div>
                <div class="section-1__item--right">
                <div class="section-1__item--title">2. THÔNG TIN</div>
                </div>
            </div></a><a href="/teacher/timetable/{{ID}}"> 
            <div class="section-1__item">
                <div class="section-1__item--left">
                <div class="section-1__img"><img src="https://project-ltnc.vercel.app/assets/img/calendar.png" alt=""/></div>
                </div>
                <div class="section-1__item--right">
                <div class="section-1__item--title">3. LỊCH DẠY</div>
                </div>
            </div></a></div>
        </div>
    </div>
    </div>
    
</section>