<!DOCTYPE html>
<html lang="en">
<head>
    <title>introduction</title>
    <script src="https://cdn.tailwindcss.com"> </script>
    <script src="/JS/tailwind.config.js"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/layout.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
    {{> header.intro}}
    {{{body}}}
    {{> footer.intro}}

</body>
</html>

