<!DOCTYPE html >
<html> 
    <head>
        <title>Trang Login </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/layouts.css"/>
        <link rel="stylesheet" href="/css/login.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
        <script src="/JS/tailwind.config.js"> </script>
        <script src="https://cdn.tailwindcss.com"> </script>
    </head>

    
    <body>
        {{> header.log}}
            {{{body}}}
        {{> footer.log}}
    </body>
   
</html>